# If true, it will only register slash commands to specified guild ID instead of globally (useful when adding/removing/modifying commands)
DEV=false
# If true, will provide additional logs to console
DEBUG=false
# Optional, needed if DEV=true 
GUILD_ID=
CLIENT_ID=
TOKEN=